@import 'reset';
@import 'vars';

/* GENERAL */
@font-face {
  font-family: 'Bebas';
  src: url('../assets/fonts/Bebas_Neue/BebasNeue.woff2') format('woff2'),
       url('../assets/fonts/Bebas_Neue/BebasNeue.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../assets/fonts/DIN/DINPro-Medium.woff2') format('woff2'),
       url('../assets/fonts/DIN/DINPro-Medium.woff') format('woff');

  font-weight: normal;
  font-style: normal;
}

body{
  font-family: "DIN";
}

main p{
  font-size: 1.8em;
  line-height: 1.2em;
  margin-bottom: 3rem;
}

h1, h2, h3, header{
  font-family: "Bebas";
}

h1{
  font-size: 17.2em;
  color: #00A9D7;
  opacity: .42;
}

h2{
  font-family: "Bebas";
  color: var(--main-color);
  font-size: 4.8em;
  padding: 2.5rem 0;
}

.text-right{
  text-align: right;
  margin-top: 4rem;
}

.container{
  max-width: 960px;
  margin: auto;
}

#combo{
  display: flex;
  justify-content: flex-end;
}

.text-image{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER */
header{
  background-color: var(--main-color);
  padding: 2.5rem 0 0 0;
}

.container-nav{
  display: flex;
  justify-content: space-between;
}

nav, .nav-list{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-item{
  padding: 0 2rem;
  font-size: 2.4em;
}

.nav-item a{
  text-decoration: none;
  color: white;
  transition: all .5s;
}

.nav-item a:hover{
  color: black;
}

.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 9.2em;
  text-align: right;
  line-height: 0.9em;
  padding-top: 2.5rem;
}

.header-text-red{
  color: #F93942;
}

.header-text-gold{
  color: #FFE7B3;
}

.header-img{
  margin-bottom: -7rem;
}

/* MAIN */
main{
  background-image: url('../assets/img/glashand.png');
  background-repeat: no-repeat;
  background-position: 0 13rem;
  padding-top: 5rem;
}

.text-block{
  width: 47.5%;
}

.move-right{
  margin-right: -10rem;
}

.stappen-images{
  width: 48%;
}

.stappen-images picture{
  display: block;
}

.stappen-images picture:first-of-type{
  margin-left: -10rem;
}

.stappen-images picture:nth-of-type(even){
  margin-top: -7rem;
  margin-bottom: -5rem;
  text-align: right;
}

#wedstrijd{
  background-image: url('../assets/img/bgwedstrijd.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 800px;
}

.article-left{
  margin-top: 3rem;
  color: white;
}

.article-left h2{
  color: white;
}

.article-right{
  margin-top: 10rem;
  padding-top: 16rem;
  padding-bottom: 10rem;
  border: solid 2rem rgba(0, 169, 215,.42);
}

/* FORM */
form{
  padding-left: 3rem;
  padding-right: 3rem;
}

.form-field{
  color: white;
  margin-bottom: 3.5rem;
  font-size: 2.4em;
}

.form-field input{
  display: block;
  background-color: transparent;
  border: none;
  border-bottom: solid .1rem white;
  outline: none;
  color: white;
  padding: .3rem 0;
  font-size: 1.8rem;
  width: 270px;
}

.form-field input:focus{
  border-color: #00A9D7;
  color: #00A9D7;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #9DDBEE;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #9DDBEE;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #9DDBEE;
}
:-moz-placeholder { /* Firefox 18- */
  color: #9DDBEE;
}

input[type=submit]{
  color: #00A9D7;
  background-color: white;
  border: none;
  font-size: 2.4em;
  padding: .5rem 4rem;
  border-radius: 0;
}

/* FOOTER */
footer{
  padding: 5rem 0;
}
